RewriteEngine On

RewriteRule ^home?$ dashboard.php
RewriteRule ^orders?$ orders.php
RewriteRule ^users?$ users.php
RewriteRule ^sales?$ sales.php
RewriteRule ^login?$ login.php
RewriteRule ^logout?$ logout.php
